@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Poppins:wght@300;600&family=Roboto+Slab&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
}

:root {
  --main-color: #1992D4;
  --button-color: #4285f4;
  --border-secondary: #E2E8F0;
}

body {
  background-color: var(--border-secondary);
  display: flex;
  justify-content: center;
}

#border-container {
  width: min(70%, 1000px);
}

#header {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.2);
  height: 21%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1;
}

#upper-header {
  display: flex;
  align-items: center;
  height: 43%;
  width: 100%;
}

#upper-header > * {
  padding: 10px;
}

#grey-thing {
  height: 10px;
  width: 400px;
  background-color: var(--border-secondary);
  border-radius: 5px;
}

#lower-header {
  display: flex;
  align-items: center;
  height: 67%;
  width: 100%;
}

#sidebar {
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 30%;
  background-color: var(--main-color);
}

#align-container {
  display: flex;
}

#right-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main-container {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: orange;
}

.sidebar-item {
  font-weight: 500;
  margin-bottom: 45px;
  width: 100%;
  background-color: var(--main-color);
}

#logo {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  height: 60px;
}

#logo-crown {
  filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(235deg) brightness(104%) contrast(101%);
  width: 20%;
}

.btn-container {
  margin-left: 15px;
  display: flex;
  align-items: center;
}

.title {
  cursor: pointer;
  font-size: 18px;
  color: white;
  padding-left: 10px;
}

#title-logo {
  cursor: pointer;
  font-size: 21px;
  color: white;
  padding-left: 10px;
}

#main-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  height: 32%;
}

#special-nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 16%;
}

#left-main-container, #right-main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#left-main-container {
  width: 70%;
  background-color: lawngreen;
}

#right-main-container {
  width: 30%;
  background-color: darkcyan;
}

.nav-icons {
  cursor: pointer;
  filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(235deg) brightness(104%) contrast(101%);
  border-radius: 5px;
  margin-left: 10px;
  width: 12%;
}

.title:hover {
  text-decoration: underline;
}

.title:active {
  opacity: 0.8;
}

.avatar {
  height: 64px;
  width: 64px;
}

.column-container {
  display: flex;
  flex-direction: column;
}

.blue-button {
  border: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 20px;
  margin: 20px;
  background-color: var(--button-color);
  height: 35px;
  width: 100px;
}

.header-icon {
  width: 50px;
}

.project {
  width: 100px;
  height: 50px;
  background-color: white;
}

#project-container {

}